{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/SignUp.css' %}">
</head>

<body>
    <main>
        <div id="main">
            <div class="box box1">
                <img src="{% static 'images/MIniBlogSignUp.png' %}" alt="">
            </div>
            <div class="box box2">
                <div id="SignUpBox">
                    <h2>Sign In</h2>
                    <p>Welcome back !</p>
                    <br>
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{% if message.tags == 'error' %}⚠️{% endif %} {{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    <form action="{% url 'Login' %}" method="POST" id="SignUpForm">
                        {% csrf_token %}
                        <input type="text" name="username" id="" placeholder="username">
                        <input type="password" name="password" id="" placeholder="Password">
                        <button type="submit" id="SubmitBotton">Login</button>
                    </form>
                    <br>
                    <a href="{% url 'SignUp' %}" style="color: blue; text-decoration: none;">Create New Account !</a>
                </div>
            </div>

        </div>
    </main>
</body>

</html>